# IDE 및 환경 설정 파일
.idea/
*.iml
.gradle/

# 빌드 결과물
build/

# 마인크래프트 서버 구동 관련 파일 및 폴더
/world/
/world_nether/
/world_the_end/
/logs/
/crash-reports/
/cache/
/versions/
/libraries/
/plugins/
/banned-*.json
/usercache.json
/version_history.json
/whitelist.json
/ops.json
/*.yml
/*.properties
eula.txt